[Unit]
Description=Updates the external ip records on OVH

[Service]
Type=simple
StandardOutput=journal
ExecStart=/usr/local/bin/manage_ips.py update-ips --static-ip {{ polaris_server }} --user '{{ ip_updater_config.user }}' --password '{{ ip_updater_config.password }}'

[Install]
WantedBy=default.target
