[Unit]
Description=Prometheus measurer (temp/hum) exporter

[Service]
Environment=
Type=exec
ExecStart=/home/dcaro/prometheus-measurer-exporter-wrapper.sh --port 8000
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
