[Unit]
Description=Watchdog that reboots the host if the network goes down
After=network-online.target

[Service]
Environment=
Type=exec
ExecStart=/home/dcaro/rebooter.sh
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
