[Unit]
Description=Ssh tunnel
After=network-online.target

[Service]
Environment=
Type=exec
# fancy way of keeping stdin and stdout
ExecStart=/bin/ssh -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes  -NR  3223:0.0.0.0:22 polaris.dcaro.es
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
