;
; BIND data file for the local loopback interface
;
$TTL    604800
@       IN      SOA     greyllama.cc. root.greyllama.cc. (
                            2         ; Serial
                        604800         ; Refresh
                        86400         ; Retry
                        2419200         ; Expire
                        60 )       ; Negative Cache TTL

; Define the default name server to ns1.atadomain.io
@       IN      NS      ns1.greyllama.cc.

; Resolve ns1 to server IP address
; A record for the main DNS
ns1     IN      A       {{ ansible_default_ipv4.address }}


.       IN      A       192.168.1.92
{% for dns_domain in dns_config.a %}
{% if dns_domain.name.endswith("greyllama.cc") %}
{{ dns_domain.name }}.    IN      A       {{ dns_domain.ip | default(ansible_default_ipv4.address) }}
{% endif %}
{% endfor %}

{% for dns_domain in dns_config.cname %}
{% if dns_domain.name.endswith("greyllama.cc") %}
{{ dns_domain.name }}.    IN      CNAME       {{ dns_domain.dest }}.
{% endif %}
{% endfor %}
