options {
	directory "/var/cache/bind";
	listen-on port 53 { {{ ansible_default_ipv4["address"] }}; };

	// If there is a firewall between you and nameservers you want
	// to talk to, you may need to fix the firewall to allow multiple
	// ports to talk.  See http://www.kb.cert.org/vuls/id/800113

	// If your ISP provided one or more IP addresses for stable 
	// nameservers, you probably want to use them as forwarders.  
	// Uncomment the following block, and insert the addresses replacing 
	// the all-0's placeholder.

	// forwarders {
	// 	0.0.0.0;
	// };
	forwarders { {{ dns_config["forwarders"] | join(' ;') }}; };
        recursion yes;
	allow-query     { any; };

    // keep cache useful (tune to your policy)
    max-cache-ttl 3600;        // 1h
    max-ncache-ttl 600;        // 10m (negative caching)
    // optional: allow serving stale while revalidating
    stale-answer-enable yes;

    // if you have lots of repeated queries, prefetch helps
    prefetch 2 9;

	//========================================================================
	// If BIND logs error messages about the root key being expired,
	// you will need to update your keys.  See https://www.isc.org/bind-keys
	//========================================================================
	dnssec-validation auto;

	//listen-on-v6 { any; };
};
