//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
include "/etc/bind/zones.rfc1918";

{% for domain_name in dns_config.domains %}
zone "{{ domain_name }}" {
    type  master;
    file "/etc/bind/{{ domain_name }}.zone";
};
{% endfor %}